<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        var rulecount = 0;
        $(document).ready(function(){
            rulecount = 0;
            $("#plimg").hide();
        });
        
        function onListSelect(){
            $("#removerole").removeAttr("disabled");
        }
        function removeRule(that){
            $(".ruleListele.active.show").remove();
            
            if($(".ruleListele.active.show").length==0){
                $(that).attr("disabled",true);
            }
        }
        function AddRule(){
            if($(".modal-body select option[value='-1']:selected").length>0 ) {
                var clone = $(".alert:hidden").clone();
                $(".alert:hidden").after(clone);
                clone.removeAttr("hidden");
                setTimeout(function() {
                    clone.alert('close');
                    setTimeout(function() {
                        clone.remove();
                    }, 1000);
                }, 2000);
                return;
            }
            var item = $(".ruleListele[tmplate]").clone();
            item.removeAttr("tmplate");
            item.removeAttr("hidden");
            var vattr = $(".modal-body #inputAttr option:selected");
            var vop = $(".modal-body #inputOperation option:selected");
            var vvalue = $(".modal-body #inputValue option:selected");
            var vact =$(".modal-body #inputAction option:selected");
            var inputAttr = $("<span></span>").text(vattr.text());
            var inputOperation = $("<span></span>").text(vop.text());
            var inputValue = $("<span></span>").text(vvalue.text());
            var inputAction = $("<span></span>").text(vact.text());
            var hiddens =  $("<input name='rule"+rulecount+"' type='hidden'/>").val(vattr.val()+","+vop.val()+","+vvalue.val()+","+vact.val());
            item.find(".w").after(inputValue);
            
            item.find(".w").after(inputOperation);
            item.find(".w").after(inputAttr);
            item.find(".t").after(inputAction);
            item.append(hiddens);
            rulecount++;
            $(".ruleList").append(item);

            $(".modal-body select").val('-1');
            $(".modal-body input").val('');
        }
        function submitAjax(){
            var selltype = [];
            var buytype = [];
            var selllim = [];
            var buylim = [];
            
            $("input[name^='rule']").each(function(i){
                var v = $(this).val().split(",");
                var limt = 0;
                if(v[0]==0){
                    limt =  parseInt(v[2]);
                }
                else{
                    limt = 5;
                }
                if(v[3]==0){
                    buytype.push( parseInt(v[1]));
                    buylim.push( parseInt(limt));
                }
                if(v[3]==1){
                    selltype.push( parseInt(v[1]));
                    selllim.push( parseInt(limt));
                }
            });
            $("#adata").hide();
            var url = "http://393b21b77cb6.ngrok.io";
            var item = {"coin": $("#moneytype option:selected").val(),
                    "time": parseInt($("#datetype option:selected").val()),
                    "buyLimit":buylim,  
                    "buyType":buytype,      
                    "sellLimit":selllim,
                    "sellType":selltype 
                };
                $("#plimg").hide();
                $(".container2").show();
                $.ajax({
                url: url+"/getEarn",
                type: "POST",
                data: JSON.stringify(item),
                headers: "",
                dataType: 'json',
                contentType:'application/json; charset=utf-8',
                success: function (data) {
                    $(".container2").hide();
                    //JSON.stringify(data, null, 4) ;
                    
                    $("#adata").show();
                    $("#strrate").text(data.StrategyRate);
                    $("#diffrate").text(data.diffRate);
                    $("#plimg").show();
                    //$("#plimg").attr("src",url);
                    $.ajax({
                    url: url+"/pic",
                    type: "GET",
                    success: function (data) {
                        $("#plimg").attr("src","data:image/png;base64, "+data);
                    }
                    });
                }
            });
        }
    </script>
    <style>
        #content {
            margin: 0px auto;
            width: 40em;
            margin-top: 4em;
        }

        .card-body form {
            margin-left: 2em;
        }

        #rolecollapse {
            margin-bottom: 1em;
        }

        #addrole {
            margin-bottom: 1em;
        }

        #removerole {
            margin-top: 1em;
        }

        #when_form {
            margin-left: 0.6em;
        }
        .container2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            min-height: 10vh;
        }

    .loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
    }

    circle {
    fill: none;
    stroke-width: 3.5;
    -webkit-animation-name: preloader;
            animation-name: preloader;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-transform-origin: 170px 170px;
            transform-origin: 170px 170px;
    will-change: transform;
    }
    circle:nth-of-type(1) {
    stroke-dasharray: 550;
    }
    circle:nth-of-type(2) {
    stroke-dasharray: 500;
    }
    circle:nth-of-type(3) {
    stroke-dasharray: 450;
    }
    circle:nth-of-type(4) {
    stroke-dasharray: 300;
    }
    circle:nth-of-type(1) {
    -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s;
    }
    circle:nth-of-type(2) {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
    }
    circle:nth-of-type(3) {
    -webkit-animation-delay: -0.45s;
    -moz-animation-delay:  -0.45s;
            animation-delay: -0.45s;
    }
    circle:nth-of-type(4) {
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
            animation-delay: -0.6s;
    }

    @-webkit-keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    }

    @keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    }

    </style>
</head>

<body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">回測網站</span>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="card" id="content">
        <h5 class="card-header">Setting</h5>

        <div class="card-body ">
            <form method="POST" action="/rule"  enctype="application/x-www-form-urlencoded" >
                <div class="form-group row">
                    <label for="moneytype" class="col-sm-3 col-form-label col-form-label-lg">貨幣</label>
                    <div class="col-sm-8">
                        <select name="moneytype" id="moneytype" class="form-control">
                            <option value="-1" selected>Choose...</option>
                            <option value="btc">比特幣</option>
                            <option value="etc">乙太幣</option>
                            <option value="doge">Dogg幣</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="datetype" class="col-sm-3 col-form-label col-form-label-lg">時間長度</label>
                    <div class="col-sm-8">
                        <select name="datetype" id="datetype" class="form-control">
                            <option value="-1" selected>Choose...</option>
                            <option value="3">3個月</option>
                            <option value="6">6個月</option>
                            <option value="12">12個月</option>
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>
                <p>
                    <a class="btn btn-secondary btn-outline-dark" data-toggle="collapse" href="#rolecollapse"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        Rules
                    </a>
                </p>
                <div class="collapse" id="rolecollapse">
                    <div class="alert alert-danger alert-dismissible fade show" hidden>
                        <strong>Error!</strong> 新增失敗
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <div class="card card-body">
                        <button id="addrole" type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#exampleModalCenter">Add rule</button>
                        <div class="list-group ruleList" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action ruleListele" id="list-home-list" data-toggle="list"
                                href="#list-home" role="tab" aria-controls="home" onclick="onListSelect()" hidden tmplate>
                                <strong class="w">When&nbsp;</strong>
                                <strong class="t">&nbsp;&nbsp;Then&nbsp;  </strong></a>
                            
                        </div>
                        <button id="removerole" type="button" class="btn btn-outline-danger" onclick="removeRule(this)" disabled >Remove</button>
                    </div>
                </div>
                
                <button type="button" data-toggle="modal"
                data-target="#ajaxModalCenter" onclick="submitAjax()"  class="btn btn-primary"  value="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Rule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>When</h6>
                    <hr>
                    <div class="form-row" id="when_form">
                        <!-- <div class="form-group col-md-4">
                            <label for="inputAttr">Attribute</label>
                            <select id="inputAttr" class="form-control">
                                <option value="-1" selected>Choose...</option>
                                <option value="0" >本金</option>
                                <option value="1" >cost</option>
                            </select> 
                        </div> -->
                        <div class="form-group col-md-4">
                                <label for="inputAttr">Attribute</label>
                                <select id="inputAttr" class="form-control">
                                    <option value="-1" selected>Choose...</option>
                                    <option value="0" >本金</option>
                                    <option value="1" >5min</option>
                                </select> 
                            
                        </div>
                        <div class="form-group col-md-3 ">
                            <label for="inputOperation">Operation</label>
                            <select id="inputOperation" class="form-control">
                                <option value="-1" selected>...</option>
                                <option value="0"  ><</option>
                                <option value="1" >></option>
                            </select>
                        </div><!-- <label for="inputValue">Value</label>
                            <input type="text" class="form-control" id="inputValue">
                            -->
                        <div class="form-group col-md-4">
                            
                            
                                <label for="inputValue">Attribute</label>
                                <select id="inputValue" class="form-control">
                                    <option value="-1" selected>Choose...</option>
                                    <option value="0" >5min</option>
                                    <option value="1" >10min</option>
                                    <option value="2" >30min</option>
                                    <option value="3" >1hr</option>
                                    <option value="4" >3hr</option>
                                </select> 
                            
                        </div>
                    </div>
                    <h6>Then</h6>
                    <hr>
                    <div class="form-group col-md-5">
                        <label for="inputAction">Action</label>
                        <select id="inputAction" class="form-control">
                            <option value="-1" selected>Choose...</option>
                            <option value="0" >Buy</option>
                            <option value="1" >Sale</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal"  onclick="AddRule()">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Response Modal -->
    <div class="modal fade" id="ajaxModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="adata">
                        <p>StrategyRate：<span id="strrate"></span></p> 
                        <p>DifferenceRate：<span id="diffrate"></span></p> 
                    </div>
                    <div class="container2">
	
                        <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                             <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                             <circle cx="170" cy="170" r="135" stroke="#404041"/>
                             <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                             <circle cx="170" cy="170" r="85" stroke="#404041"/>
                        </svg>
                        
                    </div>
                    
                    <img id="plimg" src="/" width="400px" height="200px" ></img>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>